<html>
    <head>
        <title>Pyforth</title>
            <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
           <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </head>
<body>
<div id="body" class="container-fluid">

  <div class="row"><div class="col-sm-10 col-sm-offset-1">
    <h1>Pyforth</h1>
  </div></div>


  <div class="row"><div class="col-sm-10 col-sm-offset-1">
    <div id="logbox">
      {% for line in log_text %}
        <p> {{ line }} </p>
      {% endfor %}
    </div>
  </div></div>

  <div class="row"><div class="col-sm-10 col-sm-offset-1">

      <textarea id="input_stream"></textarea> <br>
      <a href="javascript:send_input();">submit</a>
      <form id="enterform">
      <input type="checkbox" id="enter" name="enter" value="enter" > <label for="enter"> Enter to submit </label>
      </form>

  </div></div>




</div> <!-- end container -->


<script type='text/javascript'>
$(document).ready(function() {

    var compile = 1;

    $('input[name=enter]').change(function(){
        enter = ($('#enter').is(":checked"))
        console.log(enter);
    });

    $("#input_stream").keypress(function (e) {
        if(enter == true && e.which == 13 && !e.shiftKey) {
            // $(this).closest("form").submit();
            send_input();
            e.preventDefault();
            return false;
        }
    });

});


function send_input() {
    var input_stream = $("#input_stream").val();
    $.post('/addinput', {
        input_stream: input_stream
    }).done(function(added) {
        console.log(added['new_input']);
        console.log(added['output']);
        $('#logbox').append("<br>");
        $('#logbox').append(added['new_input']);
        if (added['output'] != "") {
          $('#logbox').append("<br>");
          $('#logbox').append(added['output']);
        }
        $('#input_stream').val('');
    }).fail(function() {
        console.log(input_stream);
        $('#logbox').text('error');
    });
}


</script>




</body>
</html>
